<% new = @translation_key.new_record? %>
<h1><%= @translation_key.key || "New translation" %></h1>
<% form_for @translation_key do |f|%>
  <%= f.error_messages %>
  <p>
    <%= f.label :key %>
    <%= f.text_area :key, :size=>'80x4' %>
  </p>

  <% f.fields_for :translations do |tf|%>
    <p>
      <%= tf.label :text, tf.object.locale %>
      <%= tf.text_area :text, :size=>'80x2' %>
    </p>
    <%= tf.hidden_field :locale if tf.object.new_record? %>
  <% end %>

  <%= f.submit(new ? "Create" : "Save") %>
  <%= link_to 'Back to overview', translation_keys_path %>
<% end %>