<% locales = TranslationKey.available_locales %>
<%= link_to "New", new_translation_key_url %>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <% locales.each do |locale| %>
        <th><%= locale%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @translation_keys.each do |key| %>
      <tr class="<%= cycle "even","odd"%>">
        <td><%= key.key %></td>
        <% locales.each do |locale| %>
          <% translation = key.translations.detect{|t| t.locale == locale } %>
          <td><%= translation.text if translation %></td>
        <% end %>
        <td>
          <%= link_to content_tag(:b, 'X', :style => 'color:red'), key, :confirm=>"Delete key #{key.key} ?", :method=>:delete %>
          <%= link_to "Edit", key %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>