<% locales = TranslationKey.available_locales %>
<%= link_to "New", new_translation_key_url %>

<table>
  <thead>
    <tr>
      <td>Key</td>
      <% locales.each do |locale| %>
        <td><%= locale%></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @translation_keys.each do |key| %>
      <tr class="<%= cycle "even","odd"%>">
        <td><%= key.key %></td>
        <% translations = key.translations.map{|t| [t.locale, t]} %>
        <% locales.each do |locale| %>
          <td><%= translations.assoc(locale)[1].text if translations.assoc(locale) %></td>
        <% end %>
        <td>
          <%= link_to content_tag(:b, 'X', :style => 'color:red'), key, :confirm=>"Delete key #{key.key} ?", :method=>:delete %>
          <%= link_to "Edit", key %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>